.changed {
  input[type=checkbox],
  input[type=radio] {
    // make it near black
    filter:grayscale(1);
    // or change the colour
    filter:hue-rotate(180deg);
  }
}

.invalid-feedback{
  div{
    color: red;
  }
}


